
#Visual Studio
/projects/visualstudio/*.user
/projects/visualstudio/build
/projects/visualstudio/bin

#Xcode
.DS_Store
/projects/xcode/*.xcodeproj/*.xcworkspace
/projects/xcode/*.xcodeproj/xcuserdata
/projects/xcode/Build
/projects/xcode/DerivedData
