#Make
/build
/bin

#Visual Studio
/projects/visualstudio/*.VC.db
/projects/visualstudio/*.opendb
/projects/visualstudio/*.sdf
/projects/visualstudio/*.aps
/projects/visualstudio/.vs
/projects/visualstudio/*.log
/projects/visualstudio/build
/projects/visualstudio/bin
/projects/visualstudio/lib
/projects/visualstudio/packages
/projects/visualstudio/test/build

#Xcode
.DS_Store
/projects/xcode*/*.xcodeproj/*.xcworkspace
/projects/xcode*/*.xcodeproj/xcuserdata
/projects/xcode*/*.xcworkspace/xcshareddata
/projects/xcode*/*.xcworkspace/xcuserdata
/projects/xcode*/Build
/projects/xcode*/DerivedData

#Code::Blocks
/projects/codeblocks/*.layout
/projects/codeblocks/*.depend
/projects/codeblocks/obj
/projects/codeblocks/bin
/projects/codeblocks/test/*.layout
/projects/codeblocks/test/*.depend
/projects/codeblocks/test/obj
/projects/codeblocks/test/bin

